<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head th:replace="/fragments/head :: head"></head>
    <body>
        <nav th:replace="/fragments/nav-bar :: nav-bar"></nav>
        <header th:replace="/fragments/header :: header"></header>
        <div class="container">
            <div class="d-flex justify-content-center mt-5">
                <div th:action="@{/movies/details}" method="GET" th:object="${pelicula}" class="card" style="width: 18rem;">
                    <img th:src="@{/imagen/peliculaOSerie}+'?id='+*{id}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 th:text="*{titulo}" class="card-title"></h5>
                        <p th:text="'Calificación: '+*{calificacion}" class="card-text"></p>
                        <p th:text="'Fecha De creación: '+*{fechaDeCreacion}" class="card-text"></p>
<!--                        <p th:text="'Descripción: '+*{historia}" class="card-text"></p>-->
                        <div class="d-flex inline-block">
                            <a th:href="@{/movies/list}" class="btn btn-dark ms-auto m-1">Volver a la Lista</a>
                            <a class="btn btn-dark ms-auto m-1" th:href="@{/movies/form}+'?id='+*{id}+'&action=edit'">Editar película</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
