<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="es-AR" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>

    <body class="bg-dark">
        <nav th:replace="/fragments/nav-bar :: nav-bar"></nav>
        <header th:replace="/fragments/header :: header"></header>
        <div class="container">
            <div class="card mt-5" style="background-color: #e72d1f;">
                <div class="card-header d-flex">
                    <h3>Agregar Película</h3>
                    <a class="btn btn-dark ms-auto" th:href="@{/movies/list}">Lista de Peliculas</a>
                </div>
                <div class="card container" style="background-color: #e72d1f;">
                    <form th:action="@{/movies/save}" method="POST" th:object="${pelicula}" enctype="multipart/form-data" class="cart">
                        <div>
                            <input type="hidden" th:value="*{id}" name="id">
                        </div>
                        <br>
                        <div>
                            <input type="hidden" th:value="${action}" name="action">
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="titulo" class="form-label"><strong>Titulo</strong></label>
                                <input type="text" class="formi form-control" th:field="*{titulo}" placeholder="">
                            </div>

                            <div class="col-md-6">
                                <label for="fechaDeCreacion" class="form-label"><strong>Fecha de creación</strong></label>
                                <input type="date" class="formi form-control" th:field="*{fechaDeCreacion}">
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="calificacion" class="rating-label"><strong>Calificación (mantén presionado tu mouse y arrastra!) </strong>
                                <input th:field="*{calificacion}"
                                       class="rating"
                                       max="5"
                                       oninput="this.style.setProperty('--value', `${this.valueAsNumber}`)"
                                       step="0.5"
                                       style="--value:2.5" 
                                       type="range"
                                       value="2.5">
                            </label>
                        </div>
                        <div class="formi col-md-6">
                            <label class="form-label "><strong>Sube una portada de la pelicula!</strong></label>
                            <input type="file" name="file" class="form-control">
                        </div>
<!--                        <div class="container" th:object="${personaje}">
                            <div th:each=" p : ${personajes}" class="col-md-6 d-flex inline-block">
                                <div class="d-flex justify-content-center mt-5">
                                    <div class="card shadow-lg p-3 mb-5 bg-body rounded" style="width: 18rem;">
                                        <img th:if="${p.imagen != null}" class="card-img-top" alt="..."
                                             th:src="@{/imagen/personaje}+'?id='+${p.id}">
                                        <div class="d-flex justify-content-center m-1">
                                            <h5 th:text="${p.nombre}" class="card-title"></h5>
                                        </div>
                                        <div class="card-body d-flex inline-block">

                                            <a class="btn btn-dark ms-auto" th:href="@{/movies/agregarAPelicula}+'?id='+${p.id}">Agregar a pelicula</a>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->

                        <button type="submit" class="btn btn-dark ms-auto"> Guardar Pelicula </button>

                    </form>
                    
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
                integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
                integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
        crossorigin="anonymous"></script>
    </body>

</html> 
